.common__section{
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.575)), url('../assets//images/bedroom.jpg') no-repeat center center;/* ARREGLAR IMG*/
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;

}

.common__section h1 {
    color: #fff;
    font-weight: 600;
}